.elsie-swash-caps-regular {
    font-family: "Elsie Swash Caps", serif;
    font-weight: 400;
    font-style: normal;
}

.elsie-swash-caps-black {
    font-family: "Elsie Swash Caps", serif;
    font-weight: 900;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}

#ownlist-container li,
#wishlist-container li {
    list-style: none; /* Removes default bullet styling */
    position: relative; /* Allows proper positioning of ::before pseudo-element */
    padding-left: 25px; /* Adds space for the custom bullet image */
    padding-right: 30px;
    margin-bottom: 10px;
    white-space: normal; /* Ensures text wraps to the next line */
    word-wrap: break-word; /* Allows long words to wrap onto the next line */
    overflow-wrap: break-word;
}

#ownlist-container li::before,
#wishlist-container li::before {
    content: ''; /* Ensures the pseudo-element is rendered */
    position: absolute;
    left: 0; /* Aligns the image to the start of the list item */
    top: 50%; /* Centers it vertically */
    transform: translateY(-50%); /* Ensures the bullet image is fully centered */
    width: 15px; /* Set the width of the bullet image */
    height: 15px; /* Set the height of the bullet image */
    background-image: url('/chevron-double-regular.png'); /* Use your image path */
    background-size: contain; /* Ensures the image scales within its dimensions */
    background-repeat: no-repeat; /* Prevents tiling of the image */
}

.delete-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border: none;
    background-image: url('/trash.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

#ownlist-container,
#wishlist-container {
    max-height: 200px; /* Set the maximum height of the container */
    width: 400px;
    overflow-y: auto; /* Enables vertical scrolling when content exceeds max-height */
    scrollbar-width: thin;
    scrollbar-color: #d4d4d4 #ffffff;
    padding-right: 20px;
    position: relative;
}