<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Chat</title>
</head>
<body>
    <div id="chat-modal" class="fixed inset-0 bg-black bg-opacity-50 flex flex-col justify-center items-center hidden">
        <div class="bg-white rounded-lg p-8">
            <h2 class="text-red-400 text-xl font-bold mb-4 text-center">Chat</h2>
        </div>
    </div>

    <script src="chatroom.js"></script>
</body>
</html>