<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books I Own</title>
</head>
<body>
    <div id="own-modal" class="fixed inset-0 bg-black bg-opacity-50 flex flex-col justify-center items-center hidden">
        <div class="bg-white rounded-lg p-8">
            <h2 class="text-red-400 text-xl font-bold mb-2 text-center">Books I Own</h2>
            <h4 class="text-red-400 text-xl mb-4 text-center">Shared publically for people to find you</h4>
            <ul id="ownlist-container" class="mb-4 text-gray-600"></ul>
            <form action="/ownlist" id="own-form" method="post">
                <div>
                    <input type="text" id="obook-title" name="book-title" required placeholder="Enter book title" class="text-gray-400 rounded-lg border border-gray-500 w-full p-2 hidden">
                </div>
            </form>
            <div class="flex flex-row justify-center">
                <button id="oadd-book-btn" class="bg-red-400 text-white rounded-lg p-2 mt-3">Add Book</button>
            </div>
        </div>
    </div>
    <script src="/own.js"></script>
</body>
</html>