<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requests</title>
</head>
<body>
    <div id="req-modal" class="fixed inset-0 bg-black bg-opacity-50 flex flex-col justify-center items-center hidden">
        <div class="bg-white rounded-lg p-8 sm:w-[430px] h-auto">
            <h2 class="text-red-400 text-xl font-bold text-center mb-3">Requests</h2>
            <div class="flex flex-col sm:flex-row justify-center">
                <button class="bg-red-400 text-white rounded-lg p-2 m-3" id="send-btn" data-uname="<%= uname %>">Send Request</button>
                <button class="bg-red-400 text-white rounded-lg p-2 m-3" id="accept-btn" data-uname="<%= uname %>">Accept Request</button>
            </div>
            <div id="send-modal" class="hidden">
                <form id="send-form" class="mb-4">
                    <input type="text" id="book-title" name="book-title" required placeholder="Enter book title to find people with the book" class="text-gray-400 rounded-lg border border-gray-500 w-full p-2">
                </form>
                <ul id="send-container" class="text-gray-600"></ul>
            </div>
            <div id="acc-modal" class="hidden">
                <ul id="acc-container" class="mb-4 text-gray-600"></ul>
            </div>
        </div>
    </div>

    <script src="/reqbox.js"></script>
</body>
</html>