<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
</head>
<body>
    <div id="list-modal" class="fixed inset-0 bg-black bg-opacity-50 flex flex-col justify-center items-center hidden">
        <div class="bg-white rounded-lg p-8">
            <h2 class="text-red-400 text-xl font-bold mb-4 text-center">Wishlist</h2>
            <ul id="wishlist-container" class="mb-4 text-gray-600"></ul>
            <form action="/wishlist/<%= uname %>" id="wish-form" method="post">
                    <input type="text" id="book-title" name="book-title" required placeholder="Enter book title" class="text-gray-400 rounded-lg border border-gray-500 w-full p-2 hidden">
            </form>
            <div class="flex flex-row justify-center">
                <button id="add-book-btn" class="bg-red-400 text-white rounded-lg p-2 mt-3">Add Book</button>
            </div>
        </div>
    </div>
    <script src="/wishlist.js"></script>
</body>
</html>